[run]
disable_warnings = couldnt-parse

[report]
# Include only variables that can be tested with YAML tests:
include = */variables/*
# Exclude variables used only in original development or
#                             in obsolete testing or
#                             in unimplemented Premium Tax Credit logic:
omit = */variables/contrib/taxcalc/*
       */variables/contrib/taxsim/*
       */variables/household/**/slspc.py
