# Python builds

*.egg-info
*.pyc
build
dist

# Virtual environments

venv/
.venv/

# Editors

.project
.pydevproject
.settings
.spyderproject

# OS stuff

.DS_Store
*~

# Python caches

.pytest_cache
**/__pycache__

# Data

**/_build
**/.ipynb_checkpoints
.coverage
.coverage.*
**/*.xml
taxcalc_output
.vscode/settings.json
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log

# Built Jupyter-book documentation
docs/book/_build

# Microdata
**/*.h5
**/*.exe

# Personal utility scripts
.*.py

# GitHub Codespaces.
venv/**
oryx-build-commands.txt

**/*.csv.gz
**/*.pkl