# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: OpenFisca-US

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: false

# Information about where the book exists on the web
repository:
  url: https://github.com/nikhilwoodruff/openfisca-us  # Online location of your book
  path_to_book: docs/book  # Optional path to your book, relative to the repository root
  branch: master  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true

sphinx:
  config:
    html_js_files:
    - https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js
